<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Compound</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/addCompEqn.css') }}>
</head>
<body>
    <h1>Add Compound</h1>
    <div class="addForm">
        <form action="" method="POST">
            <input type="text" name="comp_name" id="comp_name" placeholder="Compound Name" />
            <input type="text" name="comp_symbol" id="comp_symbol" placeholder="Compound Symbol (Eg: CO2)" />

            <input type="submit" value="Add" />
        </form>
    </div>
</body>
</html>